// @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Source+Sans+Pro:ital@1&display=swap');

/*

TABLE OF CONTENTS

1. Global styles
2. Nav
3. Hero
4. Portfolio
5. Skills
6. Footer
7. Media Queries(min-width-800px)
7a. Media queries  (min-width-1050px))

*/

/* ############ 1. Global Styles, ############ */

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	-webkit-scroll-behavior: smooth;
}
body {
	height: 100vh;
	font-family: 'Carter One', cursive;
}
p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	border-radius: 20%;
}

section {
	min-height: 100vh;
	text-align: center;
}

/* ############ 2. Nav, ############ */

header {
	nav {
		display: flex;
		flex-wrap: wrap;

		display: -webkit-box;
		display: -ms-flexbox;
		-ms-flex-wrap: wrap;
	}

	display: flex;
	align-items: center;
	padding: 2rem;
	justify-content: space-between;

	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-box-align: center;
	-ms-flex-align: center;

	ul {
		display: flex;
		align-items: center;
		justify-content: center;

		display: -webkit-box;
		display: -ms-flexbox;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;

		a {
			display: block;
			padding: 0.4rem 0.5rem;
		}
	}
}

.nav-container {
	background: #8b00e1;
	a {
		color: #fff;
		font-size: 1.2em;
		&:hover {
			display: inline-block;
			color: #ff0080;
			transition: 0.14s ease-in-out;
			transition: 0.14s ease-in-out;

			-webkit-transition: 0.14s ease-in-out;
			-o-transition: 0.14s ease-in-out;
		}
		&:active {
			color: #fff;
		}
	}
	.logo {
		font-weight: bold;
		font-size: 1.5em;
		color: #edff00;
	}

	.nav-ul.show {
		display: flex;
		display: -webkit-box;
		display: -ms-flexbox;
	}

	.nav-ul {
		width: 100%;
		flex-direction: column;

		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
	}
}

.social-header,
.hero-design {
	display: none;
}

/* ############ 3. Hero, ############ */

.hero {
	display: grid;
	display: -ms-grid;

	background: #9e00ff;
	color: #fff;
	text-align: center;
	padding: 4em;
	min-height: 88vh;

	padding: 5em 1em;

	h1 {
		font-size: 2.4em;
		margin-top: 1rem;
		line-height: 1.5;
	}
	.meet {
		display: flex;
		display: -webkit-box;
		display: -ms-flexbox;

		text-align: center;
		margin: 0 auto;
		width: 200px;
		color: #edff00;

		span {
			display: block;
			margin-top: 3em;
			// margin-right: 0.5em;
			font-weight: bold;
			font-size: 1.3rem;
		}
	}
}

/* ############ 4. Portfolio, ############ */

.portfolio {
	position: relative;
	padding-bottom: 10rem;
	justify-content: center;
	min-height: 70vh;

	-webkit-box-pack: center;
	-ms-flex-pack: center;

	.portfolio-list {
		display: grid;
		display: -ms-grid;
		list-style-type: none;
		height: 50%;

		li {
			padding: 2.5rem 4rem;
			place-content: center;
			grid-template-columns: 1fr;
			align-items: start;
			justify-content: center;
			text-align: left;
			margin: 0 auto;

			-ms-grid-columns: 1fr;
			-webkit-box-align: start;
			-ms-flex-align: start;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
		}

		.styled-break-black {
			width: 90px;
			height: 5px;
			background-color: #000000;
			border-radius: 2.5px;
			margin: 30px 0 30px 0;

			span {
				color: #fff;
			}
		}
	}
}

.featured-desc {
	margin: 1em 0;
	line-height: 1.5em;
	padding-right: 1rem;
}

.subtitle-p p,
.subtitle-p {
	text-transform: uppercase;
	font-weight: bold;
	color: #9e00ff;
	letter-spacing: 0.1em;
	font-size: 1.25em;
	max-width: 200px;
	margin-top: 90px;
	font-family: 'Carter One', cursive;
}

.subtitle,
.subtitle a {
	text-transform: uppercase;
	font-weight: bold;
	color: #9e00ff;
	letter-spacing: 0.1em;
	font-size: 0.85em;
}
.text-header,
.text-white {
	font-size: 4em;
	margin-bottom: 5rem;
	padding-top: 6rem;
	text-align: center;
}

.text-white {
	color: #fff;
}

.hero-text {
	max-width: 500px;
}

.m-about {
	margin-bottom: 2rem;
}

img.hero-img {
	width: 200px;
	border-radius: 50%;
}

.styled-break {
	width: 90px;
	height: 5px;
	background-color: #ff0080;
	border-radius: 2.5px;
	margin: 30px 0 30px 0;
}

.styled-break span {
	display: block;
	padding-top: 10px;
	width: 250px;
}

.color-title {
	color: #edff00;
}
.color-p {
	color: #fff;
	font-weight: bold;
}

/* ############ 5. Skills, ############ */

.skills {
	position: relative;

	background: #ff0080;
	padding: 1.5rem 4rem;
	min-height: 50vh;
	.skills-container ul li {
		background: #fff;
		padding: 2em;
		margin: 1.5em 0;
		border-radius: 6em;
		height: 300px;
	}
	.m-skills {
		margin-bottom: 10rem;
		padding-top: 8rem;
	}

	li {
		display: block;
	}
	.skill-text {
		padding-right: 0;
	}

	.icon-container {
		height: 140px;

		.image-compress,
		.img-svg {
			width: 20%;
			margin-bottom: 0.85em;
			align-self: center;
			-ms-flex-item-align: center;
			-ms-grid-row-align: center;
		}
	}
}

.transition-1 {
	display: grid;
	display: -ms-grid;

	cursor: pointer;
	border-radius: 26px;
	background: #fff;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
	transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
		0.3s box-shadow,
		0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
	-webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08),
		0 0 6px rgba(0, 0, 0, 0.05);

	&:hover {
		transform: scale(1.05);
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
		-webkit-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12),
			0 4px 8px rgba(0, 0, 0, 0.06);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
	}

	&:active {
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-ms-transform: scale(0.8);
		-o-transform: scale(0.8);
	}
}

.social-logos {
	display: block;
	border-radius: 26px;
	transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s;
	transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s,
		0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
	box-shadow: 10px 10px 5px -200px rgba(0, 0, 0, 0.75);
	transition: 0.3s,
		0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
	-webkit-transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
		0.3s, 0.3s;
	-o-transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s,
		0.3s;
	-webkit-box-shadow: 10px 10px 5px -200px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 5px -200px rgba(0, 0, 0, 0.75);
	-moz-transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s,
		0.3s;
	-ms-transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s,
		0.3s;
}

.social-logos:hover {
	display: block;
	border-radius: 26px;
	transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s;
	transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s,
		0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
	box-shadow: 10px 10px 5px -200px rgba(0, 0, 0, 0.75);
	transition: 0.3s,
		0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
	-webkit-transition: 0.3s,
		0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
	-o-transition: 0.3s,
		0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
	-webkit-box-shadow: 10px 10px 5px -200px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 5px -200px rgba(0, 0, 0, 0.75);
	-moz-transition: 0.3s,
		0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
	-ms-transition: 0.3s,
		0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.social-logos-footer {
	background: #ffffff;
	display: block;
	border-radius: 26px;
	opacity: 05;
	transition: 0.3s,
		0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
	transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s;
	transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s,
		0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
	box-shadow: 10px 10px 5px -200px rgba(0, 0, 0, 0.75);
	-webkit-transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
		0.3s;
	-o-transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s;
	-webkit-box-shadow: 10px 10px 5px -200px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 5px -200px rgba(0, 0, 0, 0.75);
	-moz-transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s;
	-ms-transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s;
}

.social-logos-footer:hover {
	box-shadow: 10px 10px 5px -200px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 10px 10px 5px -200px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 5px -200px rgba(0, 0, 0, 0.75);
}

.bg-1 {
	background: #9e00ff;
	width: 100%;
	-webkit-box-shadow: 10px 10px 5px -200px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 5px -200px rgba(0, 0, 0, 0.75);
}

.card-link:link {
	color: #333;
}
.card-link:visited {
	color: #333;
}
.card-link:hover {
	color: #333;
}
.card-link:active {
	color: #333;
}

/* ############ 6. Footer, ############ */

.footer {
	background: #fff;

	.social-footer {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		height: auto;
		justify-content: center;
		align-items: center;
		padding: 0.5em;
		margin: auto;

		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
	}

	.contact {
		display: none;
	}

	ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		display: block;
	}
	li {
		padding-left: 24px;
		list-style: none;

		a {
			color: #000000;
			font-weight: bold;
			font-size: 1.5em;
		}
	}

	img {
		margin: 10px 0;
		width: 52%;
		border-radius: 50%;
	}
}

/* ############ 7. Media Query min-width 800px, ############ */

@media only screen and (min-width: 800px) {
	.hero {
		min-height: 88vh;

		.content h1 {
			font-size: 2.9em;
			margin-top: 10rem;
		}
	}

	.nav-container {
		.nav-ul {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction: row;
			flex-direction: row;
		}
	}

	.portfolio {
		padding: 11em 3em;

		section {
			min-height: 100vh !important;
		}

		.portfolio-list {
			display: -ms-grid;
			display: grid;
			max-width: 1200px;
			// -ms-grid-columns: (auto)[2];
			grid-template-columns: repeat(2, auto);
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-ms-flex-line-pack: center;
			align-content: center;

			li {
				padding: 2.5rem 0.1rem;
			}
		}
	}

	.text-header,
	.text-white {
		font-size: 4em;
		text-align: center;
	}

	.text-white {
		padding-bottom: 5rem;
	}
	.m-text {
		padding-bottom: 2rem;
	}

	.skills-container {
		ul {
			display: -ms-grid;
			display: grid;
			-ms-grid-columns: auto 2em auto 2em auto;
			grid-template-columns: repeat(3, auto);
			grid-gap: 2em;
		}
		.one {
			margin-top: -8em !important;
		}

		.two {
			margin-top: 5em;
			margin-left: 3em;
		}
	}

	.m-skills {
		margin-bottom: 1.2rem;
		padding-bottom: 9rem;
	}

	.skill-text {
		padding-right: 0;
	}

	.footer {
		.contact {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
		}
	}
}

/* ############ 7a. Media Query min-width 1050px, ############ */

@media only screen and (min-width: 1050px) {
	header {
		padding: 2em 2em 2em 4em;
	}
	section {
		padding: 4em;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		display: -ms-grid;
		display: grid;
	}

	h1 {
		font-size: 3em;
		line-height: 1.2em;
	}

	.nav-container {
		max-width: 1200px;
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 66% auto;
		grid-template-columns: 66% auto;
		background: unset;
		margin-left: 62px;

		.nav-ul {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
		}

		header {
			background: #8b00e1;
		}
	}

	.social-header {
		padding: 2em 2em 2em 4em;
	}
	.social-header {
		display: block;
		ul {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
		}
		li {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			padding-right: 5em;
		}
		img {
			width: 50px;
		}
	}

	.text-header {
		font-size: 4em;
		margin-bottom: 7rem;
		padding-top: 1rem;
		text-align: center;
	}
	.m-about {
		padding-top: 11rem;
	}

	.m-text {
		padding-bottom: 4rem;
	}

	.hero {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 66% auto;
		grid-template-columns: 66% auto;
		background: unset;
		height: 90vh;

		padding: 4em;

		.content {
			background: #9e00ff;
			padding: 6em 8em 6em 4em;
			text-align: left;
			max-width: 790px;
			height: 124%;
		}
		.meet {
			margin: unset;
		}

		.hero-design {
			display: unset;
			margin-left: -20%;
			width: 110%;
			max-width: 1200px;
		}
	}

	.footer {
		.contact {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
		}
	}
}
